.imageContainer img {
	max-height: 10rem;
	width: auto;
}

@media screen and (max-width: 900px) {
	.imageContainer img {
		max-height: 5rem;
		width: auto;
	}
}

h1{
    text-align: center;
}

h5{
    text-align: center;
    margin-bottom: 1%;
}