<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="display-5 mt-3">Gifting</h1>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-12 mb-3">
					<div class="card">
						<div class="imageContainer">
							<img class="card-img-top rounded mx-auto d-block mt-3 mb-1" src="assets\{{item.ImageURL}}" alt="Card image cap">
						</div>
						<div class="card-body">
							<p class="card-text text-center">You have Selected:</p>
							<h5 class="card-title text-center">{{item.Title}}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="amount">Amount</label>
				<input type="text" class="form-control" id="amount" #amount (blur)="updateValue(amount.value)" aria-describedby="amountHelp" min="0">
				<div class="invalid-feedback">
					Please be sure to enter a number greater than or equal to Zero.
				</div>
				<small id="amountHelp" class="form-text text-muted">Enter a number of Dollars.</small>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="partyName">Party Name</label>
				<input type="text" class="form-control" id="partyName" #partyName (blur)="updateParty(partyName.value)" aria-describedby="partyNameHelp" min="0">
				<div class="invalid-feedback">
					Please be sure to enter a number greater than or equal to One. // never used
				</div>
				<small id="partyNameHelp" class="form-text text-muted">Enter a name for this party.</small>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" #email (blur)="updateEmail(email.value)" aria-describedby="emailHelp">
				<div class="invalid-feedback">
					Please double check that the email entered is valid.
				</div>
				<small id="emailHelp" class="form-text text-muted">Enter an email to help keep you up-to-date with wedding events.</small>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<button class="float-right btn btn-primary ml-2" (click)="validateAndMove()" type="button">Next</button>
			<button class="float-left btn btn-primary" (click)="goBack()" type="button">Go Back</button>
		</div>
	</div>
</div>