form{
    font-size: 25px;
    text-align: center;
    padding-bottom: 2%;
}

input{
    font-size:24px;
}

button{
    display: block;
    max-width: 300px;
    margin: auto;
}

.imageContainer img {
	max-height: 20rem;
	width: auto;
}

@media screen and (max-width: 900px) {
	.imageContainer img {
		max-height: 10rem;
		width: auto;
	}
}
